@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  box-sizing: border-box;
  height: 100vh;
  width: 1200px;
  margin: 0px;
  padding: 0px;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 100px;
  background-color: #1F2937;
  padding: 0px 125px 100px 125px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header-links {
  display: flex;
  gap: 16px;
}

.intro {
  display: flex;
  gap: 5%;
}

.intro-left {
  /* flex-basis: 50%; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.intro-right {
  /* flex-basis: 50%; */
  width: 450px;
  height: 215px;
  flex: none;
  color: white;
  background-color: #767D85;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-main {
  font-size: 48px;
  color: #F9FAF8;
  font-weight: 900;
}

.hero-sec, a {
  font-size: 18px;
  color: #E5E7EB;
}

.hero-logo {
  font-size: 24px;
  color: #F9FAF8;
}

.hero-button {
  font-size: 14px;
  color: white;
  background: #3882F6;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 5px 25px;
  margin-top: 8px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.info-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  background-color: white;
  padding-top: 50px;
  padding-bottom: 150px;
}

.info-header-title {
  font-size: 36px;
  color: #1F2937;
  font-weight: 900;
}

.imgs {
  display: flex;
  justify-content: center;
  gap: 48px;
}

.img-container {
  width: 150px;
  flex: initial;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* flex-basis: 100px; */
}

.img-placeholder {
  border-style: solid;
  border-width: 3px;
  border-color: #3882F6;
  border-radius: 15px;
  width: 150px;
  height: 150px;
}

.img-subtext {
  text-align: center;
  align-content: center;
  color: grey;
}

.quote-section {
  background-color: #E5E7EB;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 125px 190px;
}

.quote {
  color: #1f2937a8;
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
}

.quoted-person {
  font-weight: bold;
}

.call-to-action-section {
  margin: 80px auto;
  padding: 45px 90px;
  background-color: #3882F6;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
}

.call-to-action-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.call-to-action-maintext {
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.signup-text {
  color: whitesmoke;
  font-size: 14px;
}

.signup-button {
  color: white;
  background: #3882F6;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: bold;
  border: 2px solid white;
  border-radius: 8px;
  padding: 5px 25px;
}

.footer {
  background-color: #1F2937;
  padding: 30px;
  color: #E5E7EB;
  display: flex;
  justify-content: center;
  align-items: center;
}